<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ siteName }}</title>

  {% if getenv('ENVIRONMENT') != 'dev' and getenv('ENVIRONMENT') != 'local' %}
    <link rel="stylesheet" href="{{ rev('app.css') }}">
  {% endif %}

  {% if not craft.app.config.general.devMode %}
  {# <link rel="stylesheet" href="{{ rev('app.css') }}"> #}
  {% endif %}
  <link rel="stylesheet" href="{{ rev('app.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/kfm3kmm.css">

  {# <link rel="stylesheet" href="/static_assets/js/canvi/dist/canvi.css"> #}
</head>

<body>
  <main id="main">
    <nav id="nav" class="nav">
      <button id="hamburger" class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <div id="overlay" class="overlay">
        <ul>
        <li><a href="/" title="">Home</a></li>
        <li><a href="/work" title="">Work</a></li>
        <li><a href="/shop" title="">Shop</a></li>
        <li><a href="/About" title="">About</a></li>
        <li><a href="/Contact" title="">Contact</a></li>  
        </ul>
        <div style="background-image: url('{{ footer.footerLogo.one.url() }} ');"></div>
      </div>
      <ul class="nav--desktop">
        <li><a href="/" title="">Home</a></li>
        <li><a href="/work" title="">Work</a></li>
        <li><a href="/shop" title="">Shop</a></li>
        <li><a href="/About" title="">About</a></li>
        <li><a href="/Contact" title="">Contact</a></li>        
      </ul>
    </nav>
    <div class="page">
      {% block content %}
      {% endblock %}
    </div>


    {% include '_pageParts/_footer.twig' %}

  </main>

  {% if not craft.app.config.general.devMode %}
    <link rel="stylesheet" href="{{ rev('app.css') }}">
  {% endif %}
  {% if craft.app.config.general.devMode %}
  <script src="http://localhost:8081/app.js"></script>
  {% else %}
  <script src="{{ rev('manifest.js') }}"></script>
  <script src="{{ rev('vendor.js') }}"></script>
  <script src="{{ rev('app.js') }}"></script>
  <script type="text/javascript">
  </script>
  {% endif %}

</body>
</html>