{% extends "_layout" %}

{% block content %}

<div class="home">
  <!-- hero -->
  <div class="hero">
    {% if entry.homeCarousel.one() %}
    <div class="hero__image" style="background-image: url('{{ entry.homeCarousel.one().url() }}')">    
      {% else %}
    <div class="hero__image" style="background-image: url('{{ defaults.hero.one().url() }}')">    
    {% endif %}
    </div>
    <span class="parlo-logo" style="background-image: url('{{ defaults.logo.one().url() }}')"></span>
  </div>

  <!-- intro text -->
  <div class="text home-text home__text">
    {% for block in entry.textBlock %}
      <div class="loop{{ loop.index }}">
        <h1>{{ block.sectionTitle }}</h1>
        <!-- <h3>LIVING</h3> -->
        <span>______________</span>
        {{ block.sectionBody }}    
      </div>
    {% endfor %}
    <a class="button" href="/shop">Shop Now</a>
  </div>

  <!-- feature block -->
  <div class="features">
    {% for product in entry.productGrid %}
      {% set transform = craft.imager.transformImage(product.productPicture.one.url(), {'mode': 'crop','jpegQuality': 90,'interlace': true, 'position': product.productPicture.one().getFocalPoint() })%}
      {% set x = product.productPicture.one().focalPoint() | first * 100 ~ '%' %}
      {% set y = product.productPicture.one().focalPoint() | last * 100 ~ '%' %}
      
      <a href="/shop?{{ product.productName }}" class="feature" style="background-image: url('{{ transform }}'); background-position: {{ x }} {{ y }};">
        <p>{{ product.productName }}</p>
      </a>
    {% endfor %}
  </div>

<!-- 
  <div class="home__shop">
    <a class="button" href="/">Shop Now</a>
  </div> -->

</div>
{% endblock %}