<footer class="footer">

    <div class="contact">
        <p style="font-weight:bold;">{{ footer.companyName }}</p>
        <a href="mailto:{{footer.email}}">{{ footer.email }}</a>
        <p>{{ footer.address | nl2br }}</p>
        <!-- <p>{{ footer.phone }}</p> -->
    </div>

    <div class="footer__center">
        <div style="background-image: url('{{ footer.footerLogo.one.url() }} ');">
        </div>
    </div>

    <div class="footer__right">
        <a target="_blank" href="{{footer.facebook}}" class="facebook"></a>
        <a target="_blank" href="{{footer.twitter}}" class="twitter"></a>
        <a target="_blank" href="{{footer.instagram}}" class="instagram"></a>
    </div>

</footer>